@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/HelveticaNowDisplay.woff2') format('woff2'),
         url('/fonts/HelveticaNowDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


body{
  /* overflow: hidden; */
  /* background-color: #fd2c2a; */
  background-color: black;
  font-family: 'Helvetica Now Display', sans-serif;
  color: white;
  transition: all cubic-bezier(0.23, 1, 0.320, 1) 1s;
  font-family: 'Roboto', sans-serif;
}
canvas{
  pointer-events: none;
}
span.growing{
  background-color: #fd2c2a;
}

